<div class="hero-unit header">
	<div class="header_left">
		<div class="header_left_top">
			MAKE AN APPOINTMENT WITH KOREAN CLINIC IN <font style="color:#f99406;">3 EASY STEPS.</font>
		</div>
		<div class="header_left_btm">
			<div class="header_image_sm">
				<%= image_tag "img_select.png" %>
				<div>SELECT PROCEDURE</div>
			</div>
			<b class="right-caret"></b>
			<div class="header_image_sm">
				<%= image_tag "img_send.png" %>
				<div>SEND YOUR INTEREST</div>
			</div>
			<b class="right-caret"></b>
			<div class="header_image_sm">
				<%= image_tag "img_get.png" %>
				<div>GET INSTRUCTION AFTER SUBMISSION</div>
			</div>
		</div>
	</div>
	<div class="header_right">
		<%= image_tag "img_header.png" %>
	</div>
</div>