<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#"><%= image_tag "docdoc_logo.png" %></a>
      <div class="nav-collapse collapse pull-right">
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">ABOUT DOCDOC <b class="caret pull-right"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">ABOUT</a></li>
              <li><a href="#">PRESS</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= image_tag "flag_usa.png" %>ENGLISH <b class="caret pull-right"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#"><%= image_tag "flag_usa.png" %>ENGLISH</a></li>
              <li><a href="#"><%= image_tag "flag_korea.png" %>한국어</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
